pipeline/Incremental pipeline.json
{
	"name": "Incremental pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Table_list",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "oldwatermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select watermarkvalue from watermarktable where tablename= '@{item().tablename}'\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_oldwatermark",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "newwatermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select max(last_updated) as newwatermarkvalue from @{item().tablename}\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_newwatermark",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "oldwatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "newwatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().tableName} where @{item().WaterMark_Column} >'@{formatDateTime(activity('oldwatermark').output.firstRow.WatermarkValue, 'yyyy-MM-ddTHH:mm:ss')}' AND @{item().WaterMark_Column} <= '@{formatDateTime(activity('newwatermark').output.firstRow.NewWatermarkvalue, 'yyyy-MM-ddTHH:mm:ss')}'\n\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_incrementalcopysource",
									"type": "DatasetReference",
									"parameters": {
										"tableschema": {
											"value": "@item().TABLESCHEMA",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TABLENAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_incrementalcopytarget",
									"type": "DatasetReference",
									"parameters": {
										"tableschema": {
											"value": "@item().TABLESCHEMA",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TABLENAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"last_updated": {
										"value": {
											"value": "@activity('newwatermark').output.firstRow.Newwatermarkvalue\n\n",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tableName": {
										"value": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sourceazuresql",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Table_list": {
				"type": "array",
				"defaultValue": [
					{
						"TABLESCHEMA": "dbo",
						"TABLENAME": "iplteams",
						"watermark_column": "last_updated"
					},
					{
						"TABLESCHEMA": "dbo",
						"TABLENAME": "employees",
						"watermark_column": "last_updated"
					},
					{
						"TABLESCHEMA": "dbo",
						"TABLENAME": "salesitems",
						"watermark_column": "last_updated"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-04T11:35:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}